.app {
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 20px;
}

.add-task {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.add-task input,
.add-task textarea {
	margin: 5px;
	padding: 8px;
	width: 300px;
}

.task {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 10px auto;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 350px;
	text-align: left;
}

.task.done h3 {
	text-decoration: line-through;
	color: gray;
}

.task h3 {
	margin: 0;
}

.task p {
	margin: 5px 0;
}

.filter-buttons button {
	margin: 5px;
}
.btns {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	width: 100%;
}
.btns button {
	padding: 10px;
	border: none;
	border-radius: 4px;
	color: white;
}
.btns button:first-child {
	background-color: rgb(50, 210, 50);
}
.btns button:nth-child(2) {
	background-color: rgb(50, 117, 210);
}
.btns button:last-child {
	background-color: rgb(210, 50, 50);
}
